@charset 'utf-8';

@import 'variables-and-mixins';
@import 'results-filter';

.skoorin-results {
  .error {
    color: red;
    border: 1px solid red;
    background-color: mix(white, red, 90%);
    padding: 2px 10px;
  }
}

.skoorin-results-table-container {
  overflow-x: auto;
}

.skoorin-results-table {
  min-height: 32px;

  >div {
    transition: opacity .2s;
  }

  &.loading {
    position: relative;
    cursor: wait;

    >div {
      opacity: .4;
      pointer-events: none;
    }

    .spinner {
      display: block;
    }
  }

  .spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 60px;
    width: 30px;
    height: 30px;
    margin: -15px;

    i {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: currentColor;
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      animation: spinner 2s infinite ease-in-out;

      &:last-child {
        animation-delay: -1s;
      }
    }
  }

  table {
    width: auto;
    margin: 0 !important;
    font-size: 14px;

    thead,
    tbody,
    tfoot {
      th, td {
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
        white-space: nowrap;
      }
    }

    thead {
      th, td {
        &.hole,
        &.par {
          text-align: right;
        }
        &.class {
          text-align: left;
        }
      }
    }

    tbody {
      &:hover {
        box-shadow: 0 0 20px 5px rgba(black, .2);
      }

      td.standing {
        text-align: right;
      }

      td.player {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
        position: relative;
        padding-right: 2.2em;

        a.expand-metrix {
          > i {
            font-style: normal;

            &:before {
              content: '▷';
            }
          }
        }

        a.profile-link {
          position: absolute;
          right: 0.5em;
          top: 50%;
          margin-top: -0.6em;
          line-height: 1;
          text-decoration: none;
          box-shadow: none;

          span {
            display: inline-block;
            height: 1.2em;
            width: 1.2em;
            vertical-align: middle;

            svg path {
              fill: currentColor
            }
          }
        }
      }

      td.hole-in-one {
        background-color: $gold-accent;
      }

      td.eagle {
        background-color: $success-color;
      }

      td.birdie {
        background-color: rgba($success-color, .4);
      }

      td.bogey {
        background-color: rgba($alert-color, .2);
      }

      td.double-bogey {
        background-color: rgba($alert-color, .4);
      }

      td.fail {
        background-color: rgba($alert-color, .6);
      }

      td.ob {
        position:relative;

        &:before {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: 100%;
          height: 4px;
          background-color: $alert-color;
        }
      }

      tr.expanded {
        td.player a.expand-metrix > i:before {
          content: '▽';
        }

        ~ tr.extra {
          display: table-row;
        }
      }

      tr.extra {
        display: none;

        td {
          font-size: .86em;

          &:first-child {
            text-align: right;
          }

          img.emoji {
            width: .7em !important;
            max-width: .7em;
          }
        }
      }
    }
  }
}

@keyframes spinner {
  0%, 100% { transform: scale(0); }
  50% { transform: scale(1); }
}

@media (min-width: 800px) {
  .skoorin-results-table table {
    thead,
    tbody,
    tfoot {
      th, td {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }
}

@media (min-width: 960px) {
  .skoorin-results-table table {
    thead,
    tbody,
    tfoot {
      th, td {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}